body {
  background: linear-gradient(lightcyan, lightblue);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  justify-content: center;
  text-align: center;
}

div#main {
  display: flex;
  align-items: center;
}

div#project {
  padding-top: 10vh;
  align-items: center;
}

img#icon {
  height: 40px;
  margin-left: 20px; 
  transition: transform 0.3s ease;
}

img#icon:hover { 
  transform: scale(1.2);
}

img#project {
  height: 500px;
}

a{
  font-size: 22px;
}

a#link {
  display: block;
}
a:hover {
  color: #0066cc;
}

h1 {
  font-size: 36px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 18px;
}

div#navbar {
  background-color: rgb(255, 230, 171);
  padding: 5px;
  margin-top: 20px;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #333;
}

nav a:hover {
  color: #0066cc;
}

footer {
  padding-top: 100px;
}


