body {
  background-color: rgb(242, 242, 242);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  height: 90vh;
  justify-content: center;
  text-align: center;
}

div#main {
  display: flex;
  align-items: center;
}

div#project {
  padding-top: 10vh;
  align-items: center;
}

a#link {
  display: block;
}

h1 {
  font-size: 36px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 18px;
}

div#navbar {
  background-color: lightblue;
  padding: 5px;
}

nav li {
  display: inline;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

nav a:hover {
  color: #0066cc;
}

button {
    color: white;
    font-size: 125%;
    border-radius: 4px;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    padding: 10px;
    outline: none;
    cursor: pointer;
}

button:hover {
  background: rgb(66, 184, 221);
  padding: 12px;
}


